.main-container {
    display: flex;
    margin-top: 50px;
    width: 400px;
    justify-content: center;
}

.form-container {
    border: 1px solid gray;
    padding: 30px;
    border-radius: 10px;
}

.form-container input {
    display: block;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    width: 400px;
}

.form-container input[type=email],
.form-container input[type=password],
.form-container input[type=submit] {
    border: none;
    outline: 1px solid rgb(242, 186, 180);
}

.create-account {
    color: orangered;
    cursor: pointer;
}

.goToLogin {
    display: block;
    text-decoration: none;
    text-align: center;
}